<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weixin.dao.TextMapper">
	
	<select id="selectText" parameterType="Map" resultType="Text">
		select * from text	
	</select>
	<insert id="insertText" parameterType="String" >
		insert into text(id,text) values(null,#{text})
	</insert>	
</mapper>